input {
  lumberjack {
    port => 5043
    ssl_certificate => "/mnt/logstash-forwarder/logstash-forwarder.crt"
    ssl_key => "/mnt/logstash-forwarder/logstash-forwarder.key"
  }
}

output {
  elasticsearch {
    protocol => "http"
    host => "{{getv "/elasticsearch/port/9200/tcp/addr"}}"
    port => "{{getv "/elasticsearch/port/9200/tcp/port"}}"
  }
}
