input {
  lumberjack {
    port => 5043
    ssl_certificate => "/mnt/logstash-forwarder/logstash-forwarder.crt"
    ssl_key => "/mnt/logstash-forwarder/logstash-forwarder.key"
  }
  syslog {
    port => 1514
  }
  tcp {
    port => 3333
  }
}

filter {
  if [type] == "docker" {
    json {
      source => "message"
    }
    mutate {
      rename => [ "log", "message" ]
    }
    date {
      match => [ "time", "ISO8601" ]
    }
  }
}

output {
  elasticsearch {
    protocol => "http"
    host => "{{getv "/elasticsearch/port/9200/tcp/addr"}}"
    port => "{{getv "/elasticsearch/port/9200/tcp/port"}}"
  }
}
